In [ ]:
import pandas as pd
print(pd.__version__)

1.5.3

In [ ]:
import numpy as np
print(pd.__version__)

1.5.3

In [ ]:
#Series Creation
ser=pd.Series()
print(ser)

Series([], dtype: float64)

<ipython-input-3-dc7010a5ce0f>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser=pd.Series()

In [ ]:
data=[1,2,3,4,5]
data1=np.array(['a','b','c','d','e'])
ser1=pd.Series(data)
ser2=pd.Series(data1)
print(ser1)
print(ser2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
data2 = {'a' : 0., 'b' : 1., 'c' : 2.}
ser3=pd.Series(data2)
ser4=pd.Series(data2,index=['a','b','c','d'])
ser5=pd.Series(5,index=['a','b','c','d'])
print(ser3)
print(ser4)
print(ser5)

a    0.0
b    1.0
c    2.0
dtype: float64
a    0.0
b    1.0
c    2.0
d    NaN
dtype: float64
a    5
b    5
c    5
d    5
dtype: int64

In [ ]:
#Accessing element of Series
print(ser2[:3])

0    a
1    b
2    c
dtype: object

In [ ]:
print(ser2[-3:])

2    c
3    d
4    e
dtype: object

In [ ]:
print(ser4['b'])

1.0

In [ ]:
print(ser5[['a','c','d']])

a    5
c    5
d    5
dtype: int64

In [ ]:
#Series Attributes
data=[1,2,3,4,5,6,7,8,9]
ser=pd.Series(data)
ser.index=['z','y','x','d','e','f','g','h','i']
ser.index.name='Alp'
ser.columns=['Num']
print(ser)
print(ser.dtype)
print(ser.columns)
print(ser.axes)
print(ser.ndim)
print(ser.size)
print(ser.shape)
print(ser.values)

Alp
z    1
y    2
x    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64
int64
['Num']
[Index(['z', 'y', 'x', 'd', 'e', 'f', 'g', 'h', 'i'], dtype='object', name='Alp')]
1
9
(9,)
[1 2 3 4 5 6 7 8 9]

In [ ]:
#Series Functions
data=[1,2,3,4,5,6,7,8,9]
data2 = {'a' : 0., 'b' : 1., 'c' : 2.}
ser=pd.Series(data)
ser.index=['z','y','x','d','e','f','g','h','i']
ser4=pd.Series(data2,index=['a','b','c','d'])
print(type(ser))
l=ser.tolist()
print(type(l))
print(l)
print(ser4.isnull())
print(pd.unique(ser4))
print(ser4.count())
print(ser4.value_counts())
print(ser.std())

<class 'pandas.core.series.Series'>
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
a    False
b    False
c    False
d     True
dtype: bool
[ 0.  1.  2. nan]
3
0.0    1
1.0    1
2.0    1
dtype: int64
2.7386127875258306

In [ ]:
#DataFrame Creation
df = pd.DataFrame()

data = [1,2,3,4,5]
df1 = pd.DataFrame(data) #with single list
df1.columns=["Num"]
print(df1)

   Num
0    1
1    2
2    3
3    4
4    5

In [ ]:
data = [['AA',11],['BB',22],['CC',33]]
df2 =pd.DataFrame(data,columns=['Name','Num'])
print(df2)

  Name  Num
0   AA   11
1   BB   22
2   CC   33

In [ ]:
#DataFrame attributes
data ={'Name':['AA','BB','CC','DD'],'Num':[11,22,33,44]}
df3 = pd.DataFrame(data)
print(df3)

  Name  Num
0   AA   11
1   BB   22
2   CC   33
3   DD   44

In [ ]:
ind=[101,102,103,104]
df3 = pd.DataFrame(data,index=ind)
print(df3)

    Name  Num
101   AA   11
102   BB   22
103   CC   33
104   DD   44

In [ ]:
data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df4=pd.DataFrame(data)
print(df4)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
data = {'Name':['AA', 'BB', 'CC', 'DD'],
'Num':[11,22,33,44]}
ind=[101,102,103,104]
df=pd.DataFrame(data,index=ind)
print(df)
print(df.dtypes)
print(df.columns)
print(df.axes)
print(df.ndim)
print(df.size)
print(df.shape)
print(df.values)
print(df.index)

    Name  Num
101   AA   11
102   BB   22
103   CC   33
104   DD   44
Name    object
Num      int64
dtype: object
Index(['Name', 'Num'], dtype='object')
[Int64Index([101, 102, 103, 104], dtype='int64'), Index(['Name', 'Num'], dtype='object')]
2
8
(4, 2)
[['AA' 11]
 ['BB' 22]
 ['CC' 33]
 ['DD' 44]]
Int64Index([101, 102, 103, 104], dtype='int64')

In [ ]:
#Column Operations
data = {'Name':['AA', 'BB', 'CC', 'DD'], 'Num':[11,22,33,44]}
ind=[101,102,103,104]
df=pd.DataFrame(data,index=ind)
print(df)
print(df['Num'])
df['Num1']=[111,222,333,444]
df['Num2']=pd.Series([111,222,333],index=[101,102,103])
df['Num3']=df['Num1']+df['Num2']
print(df)

    Name  Num
101   AA   11
102   BB   22
103   CC   33
104   DD   44
101    11
102    22
103    33
104    44
Name: Num, dtype: int64
    Name  Num  Num1   Num2   Num3
101   AA   11   111  111.0  222.0
102   BB   22   222  222.0  444.0
103   CC   33   333  333.0  666.0
104   DD   44   444    NaN    NaN

In [ ]:
del df['Num3']
print(df)

    Name  Num  Num1   Num2
101   AA   11   111  111.0
102   BB   22   222  222.0
103   CC   33   333  333.0
104   DD   44   444    NaN

In [ ]:
df.pop('Num2') #delete
print(df)

    Name  Num  Num1
101   AA   11   111
102   BB   22   222
103   CC   33   333
104   DD   44   444

In [ ]:
df.drop(['Num1'],axis=1,inplace=True)
print(df)

    Name  Num
101   AA   11
102   BB   22
103   CC   33
104   DD   44

In [ ]:
print(df.loc[101])
print(df.iloc[2])

Name    AA
Num     11
Name: 101, dtype: object
Name    CC
Num     33
Name: 103, dtype: object

In [ ]:
print(df[2:4])

    Name  Num
103   CC   33
104   DD   44

In [ ]:
print(df[df['Num']>20])

    Name  Num
102   BB   22
103   CC   33
104   DD   44

In [ ]:
data2 = {'Name':['EE', 'FF'],'Num':[55,66]}
ind2=[105,106]

df1=pd.DataFrame(data2,index=ind2)

print(df1)

    Name  Num
105   EE   55
106   FF   66

In [ ]:
print(df)

    Name  Num
101   AA   11
103   CC   33
104   DD   44
105   EE   55
106   FF   66