In [ ]:
print ("Hello, Python!");

Hello, Python!

In [ ]:
                     #PYTHON LISTS:

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print (list)

['abcd', 786, 2.23, 'john', 70.2]

In [ ]:
print (list[0])

abcd

In [ ]:
print (list[1:3])

[786, 2.23]

In [ ]:
print (list[2:])

[2.23, 'john', 70.2]

In [ ]:
print (tinylist)

[123, 'john']

In [ ]:
print (list + tinylist)

['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [ ]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tinytuple = (123, 'john')
print (tuple)
print (tuple[0])
print (tuple[1:3])
print (tuple[2:])
print (tinytuple * 2)
print (tuple + tinytuple)

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [ ]:
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
print (dict['one'])
print (dict[2])
print (tinydict)
print (tinydict.keys())
print (tinydict.values())

dict['one']
dict[2]
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [ ]:
                              #ITERATION BY SEQUENCE INDEX

In [ ]:
fruits = ['banana', 'apple', 'mango']
for index in range(len(fruits)):
  print ('Current fruit :', fruits[index])

Current fruit : banana
Current fruit : apple
Current fruit : mango

In [ ]:
                            #THE BREAK STATEMENT

In [ ]:
for letter in 'Python':
  if letter == 'h':
    break
  print ('Current Letter :', letter)
var = 10
while var > 0:
  print ('Current variable value :', var)
  var = var -1
  if var == 5:
    break
print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Good bye!

In [ ]:
                            #CALLING A FUNCTION

In [ ]:
# Function definition is here
def printme( str ):
  print (str);
  return;
# Now you can call printme function
printme("I'm first call to user defined function!");
printme("Again second call to the same function");

I'm first call to user defined function!
Again second call to the same function